html, body{
    background: #f0f0f0;
}
#form{
    width: 400px;
    background: white;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 15px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    font-size: 17pt;
    font-family: 'Raleway', sans-serif;
}
input{
    display: block;
    border: 0;
    background: transparent;
}
input[type="text"],input[type="password"]{
    width: 100%;
    border: 1px solid red;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0;
    box-sizing: border-box;
    color: black;
}
input[type="text"]{
    margin-top: 15px;
}
input[type="submit"]{
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    color: #7328ff;
    outline: 2px solid #7328ff;
    border: 10px solid transparent;
    transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover{
    box-sizing: border-box;
    border: 10px solid #7328ff;
    transition: all 0.3s ease-in-out;
}
input[type="submit"]:active{
    background-color: #7328ff;
    color: white;
    transition: all 0.3s ease-in-out;
}
.error{
    color: red;
    font-size: 13pt;
    margin-top: -2px;
    margin-bottom: 5px;
}
