::-moz-selection { background: transparent; }
::selection { background: transparent; }
*{
    font-family: 'Raleway', sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
}
body{
    background: url("bg.jpg") no-repeat center center fixed; 
    background-size: cover;
    text-align: center;
}

div{
    display: inline-block;
    margin: auto;
}

#form{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#circlekey{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.2);
    background-color: white;
    background-image: url("key.svg"); 
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 30px;
}

#filebutton{
    line-height: 40px;
    height: 40px;
    width: 300px;
    border-radius: 100px;
    color: white;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    box-shadow:inset 0 3px 3px 0 rgba(0,0,0,0.3), 0 1px 3px 0 rgba(204,230,185,0.3);
    transition: all 0.1s ease-out;
    margin-bottom: 15px;
}
#filebutton:hover{
    color: rgba(204,230,185,1);
    box-shadow:inset 0 5px 3px 0 rgba(0,0,0,0.3), 0 1px 3px 0 rgba(204,230,185,0.3);
}
#submitbutton{
    line-height: 40px;
    height: 40px;
    width: 300px;
    border-radius: 100px;
    color: #0c8f5b;
    background: rgba(204,230,185,1);
    cursor: pointer;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3), 0 1px 3px 0 rgba(204,230,185,0.3);
    transition: all 0.1s ease-out;
}
#submitbutton:hover{
    box-shadow: 0 5px 3px 0 rgba(0,0,0,0.3), 0 1px 3px 0 rgba(204,230,185,0.3);
}
#file{
    display: none;
}
#error{
    margin-top: 20px;
    background: #ff8484;
    border: 4px dashed #ff4242;
    padding: 10px 20px;
    display: none;
}
h1{
    letter-spacing: 2px;
    position: fixed;
    top: 40%;
    left: 50%;
    color: #0c8f5b;
    transform: translate(-50%, -50%);
    background: rgba(204,230,185,0.8);
    padding: 10px 30px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.3);
}
#exit{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-image: url("exit.svg"); 
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 30px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}
form,a,h1{
    display: none;
}
