::-moz-selection { background: rgba(164, 245, 66, 0.5); }
::selection { background: rgba(164, 245, 66, 0.5);; }
*{
    font-family: 'Source Sans Pro', sans-serif;
}
html, body{
    padding: 0;
    margin: 0;
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
}
html{
    background: url(bg.jpg) repeat center center fixed; 
    /* background: url(bg2.png) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    text-align: center;
}
a,a:focus,a:active{
    border: 0;
    outline: 0;
}
h1,h2,h3,h4,h5{
    font-family: 'Nunito', sans-serif;
}
#logo{
    height: auto;
    max-width: 100%;
    width: 700px;
}
#form{
    width: 800px;
    max-width: 100%;
    background: rgba(255,255,255,0.5);
    /* background: rgba(255,255,255,0.7); */
    display: inline-block;
    margin: auto;
    text-align: left;
    border:3px solid #578288;
    box-sizing: border-box;
    padding: 15px 30px;
    margin-bottom: 100px;
}
.table{
    padding:0;
    margin: 0;
    width:100%;
    font-size: 14pt;
}
.tr, .td{
    padding:0;
    margin: 0;
}
.td{
    display: inline-block;
    box-sizing: border-box;
    padding: 7px 0;
    width: 50%;
}
.td2{
    width: 100%;
}
.labelinput{
    width:100%;
    font-size: 14pt;
}
input[type="text"],input[type="email"],input[type="password"], textarea{
    border:1px solid #578288;
    width:100%;
    border-radius: 3px;
    font-size: 14pt;
    box-sizing: border-box;
    padding: 2px 4px;
}
input[type="submit"]{
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #578288;
    width:100%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    font-size: 18pt;
    color: white;
    transition: all 300ms ease-out;
}
input[type="submit"]:hover{
    background-color: #5fa1aa;
}
textarea{
    resize: vertical;
}
.sred{
    color: red;
}
.selectbut, #uploadbutton{
    display: inline-block;
    background-color: #578288;
    box-sizing: border-box;
    margin: 0px 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-out;
    border: 1px solid #578288;
    color: white;
}
.selectbut:hover, #uploadbutton:hover{
    background-color: #5fa1aa;

}
.selectbut.active{
    background-color: #baf7ff;
    color: black;
}
a{
    color: #578288;
    transition: all ease-in-out 150ms;
}
a:hover{
    color: #4ea8b5;
}
.sb1{
    margin-left: 0;
    margin-right: 0;
    width:100%;
}
.sb2{
    width:calc(50% - 10px);
}
.sb3{
    width:calc(33.333% - 10px);
}
.sb4{
    width:calc(25% - 10px);
}
.sb5{
    width:calc(20% - 10px);
}
.question{
    cursor: help;
    border-bottom: 1px solid #578288;
}
#uploadbutton{
    margin-left: 0;
    margin-right: 0;
    width:100%;
}
#var_cv{
    display: none;
}
#error{
    margin-top: 15px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 14pt;
    display: none;
}
#success{
    margin-top: 15px;
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 14pt;
    display: none;
}
.uploadparrent{
    position: relative;
    height: 45px;
}
@media only screen and (max-width: 800px){
    #apixit{
        margin-top: 0px;
    }
    .td{
        width: 100%;
    }
    #uploadbutton{
        position: absolute;
        z-index: 5;
    }
    #var_cv{
        z-index: 10;
        position: absolute;
        border: 1px solid red;
        display: block;
        width: 100%;
        height: 36px;
        cursor: pointer;
        opacity: 0;
    }
    #form{
        border: 0;
        background: transparent;
    }
}
/********* HOME PAGE ****************/

nav,section{
    width: 1200px;
    max-width: 100%;
    display: inline-block;
    margin: auto;
}
nav div{
    width: 20%;
    display: inline-block;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    transition: all ease-in-out 200ms;
    line-height: 35px;
}
nav a:hover div{
    background: #578288;
    color: white;
}
nav{
    margin-bottom: 20px;
}
section{
    text-align: left;
    box-sizing: border-box;
    padding: 0 30px;
}
#bloc_infos > div{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    box-sizing: border-box;
}
#maps_left{
}
#maps_right{
    padding: 0 40px;
}
#maps_left iframe{
    width: 100%;
    height: 350px;
}

#airbus{
    width: 100%;
}
#platinum a{
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #00205b;
    font-family: 'Roboto Mono', monospace;
    transition: all ease-in-out 150ms;
}
#platinum a:hover{
    color: #4ea8b5;
}
#platinum img{
    max-height: 130px;
    height: auto;
    max-width: 100%;
}
#youtubevideo video,#youtubevideo iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
#youtubevideo{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
#goldparent, #silverparent{
}
#gold, #silver{
    box-sizing: border-box;
    padding: 0 30px;
    width: 1200px;
    max-width: 100%;
    display: inline-block;
    margin: auto;
    text-align: left;
}
.sponso_gold, .sponso_silver{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px;
    vertical-align: top;
}
.sponso_gold img, .sponso_silver img{
    max-width: 80%;
    max-height: 150px;
    width: auto;
}
h1{
    display: inline-block;
    border-bottom: 3px solid #578288;
    margin: 15px 0;
}
h2{
    display: inline-block;
    border-bottom: 1px dashed #578288;
    margin: 10px 0;
}
h3{
    display: inline-block;
    border-bottom: 1px dashed #578288;
    margin: 0;
}
.dashedhr{
    border: 0;
    height: 0;
    width: 75%;
    border-bottom: 1px dashed #757575;
}
#div_infos{
    margin-bottom: 15px;
}
.linkplatinum{
    display: inline-block;
    font-size: 24pt;
    margin: 25px;
}
#contactlinks{
    margin: 20px 0;
    width: 100%;
}
#contactlinks a{
    width: 25%;
    display: inline-block;
    text-decoration: none;
}
#contactlinks svg{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
}
#menumobile{
    display: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
#menumobile svg path{
    fill: #578288;
}
#apixit{
    margin-top: -50px;
}
@media screen and (max-width: 1024px){
    #apixit{
        margin-top: 0px;
    }
    #bloc_infos > div{
        width: 100%;
    }
    #maps_right{
        padding: 0;
        margin-top: 15px;
    }
    nav a:nth-child(2){
        display: none;
    }
    nav a:nth-child(3){
        display: inline;
    }
    #gold, #silver{
        padding: 0;
    }
    #gold > div,#silver > div{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    #contactlinks a{
        width: 50%;
    }
    #contactlinks a:first-child{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 600px){
    #contactlinks a{
        width: 25%;
        text-align: center;
    }
    #contactlinks a span{
        display: none;
    }
    #contactlinks a:first-child{
        margin-bottom: 0;
    }
    nav{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: #e1e1e1;
        width: 100vw;
        height: 100vh;
        padding-top: calc(50vh - 200px);
    }
    nav a{
        width: auto;
        display: block;
        line-height: 100px;/* 4 items */
    }
    nav a div{
        width: auto;
        font-size: 40px;
        padding: 10px;
    }
    #menumobile{
        display: block;
    }
    .linkplatinum{
        font-size: 14pt;
    }
}

#delay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #578288;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
